@import 'tailwindcss';

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}


@theme {
  --font-head: var(--font-head);
  --font-sans: var(--font-sans);
  --radius: var(--radius);
  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 2px 2px 0 0 var(--border);
  --shadow: 3px 3px 0 0 var(--border);
  --shadow-md: 4px 4px 0 0 var(--border);
  --shadow-lg: 6px 6px 0 0 var(--border);
  --shadow-xl: 10px 10px 0 1px var(--border);
  --shadow-2xl: 16px 16px 0 1px var(--border);
 
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
}

:root {
    --radius: 0.5rem;
    --background: #FFFFFF;
    --foreground: #000000;
    --card: #FFFFFF;
    --card-foreground: #000000;
    --input: #FFFFFF;
    --ring: #AAFC3D;
    --primary: #AAFC3D;
    --primary-hover: #97f819;
    --primary-foreground: #FFFFFF;
    --secondary: #5252FF;
    --secondary-foreground: #000000;
    --muted: #F3F4F6;
    --muted-foreground: #6B7280;
    --accent: #FF00FF;
    --accent-foreground: #000000;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --border: #3a3a3a;
}

.dark {
    --background: #FFFFFF;
    --foreground: #000000;
    --card: #FFFFFF;
    --card-foreground: #000000;
    --input: #FFFFFF;
    --border: #000000;
    --ring: #AAFC3D;
    --primary: #AAFC3D;
    --primary-hover: #97f819;
    --primary-foreground: #000000;
    --secondary: #000000;
    --secondary-foreground: #FFFFFF;
    --muted: #F3F3F3;
    --muted-foreground: #444444;
    --accent: #FF4FD8;
    --accent-foreground: #000000;
    --destructive: #FF0033;
    --destructive-foreground: #FFFFFF;
}



.ombraxs{
    letter-spacing:2px;
  text-shadow:0 0 0 var(--color-foreground),0 0 0 var(--color-foreground),1px 1px 0 var(--color-foreground),1px 1px 0 var(--color-foreground);
}

h1 {
  font-family: var(--font-head);
  color: var(--primary);
  letter-spacing:2px;
  text-shadow:0 0 0 var(--color-foreground),0 0 0 var(--color-foreground),2px 2px 0 var(--color-foreground),2px 2px 0 var(--color-foreground);
}


p {
  font-family: var(--font-sans);
  font-weight: 500;
}

.error {
  color: var(--destructive);
}